* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}


/* mobile phones */

header {
    text-align: center;
    text-transform: uppercase;
    padding: 2em;
    background-color: rgb(226, 233, 241);
}

section {
    margin: 0px;
    padding: 10px;
    background-color: #f0f1fc;
}

h2 {
    text-align: center;
    margin: 15px;
    font-size: 18px;
    text-transform: capitalize;
}

h2::before {
    content: '***';
    font-size: medium;
    padding-right: 0.5em;
}

h2::after {
    content: '***';
    font-size: medium;
    padding-left: 0.5em;
}

h3 {
    text-align: center;
    padding-top: 1.5em;
    font-size: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 1px #dad5d5;
}

img {
    max-width: 100%;
}


/* tablets */

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        display: grid;
    }
    .flexbox-section ul {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        column-gap: 2em;
    }
    .flexbox-section ul li:first-child {
        width: 48%
    }
    .flexbox-section ul li:nth-child(2) {
        width: 48%
    }
    .flexbox-section ul li {
        width: 31%
    }
    .grid-section ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-gap: 2em;
    }
    .grid-section ul li:first-child {
        grid-column: span 3;
    }
    .grid-section ul li:nth-child(2) {
        grid-column: span 3;
    }
    .grid-section ul li {
        grid-column: span 2;
    }
}


/* desktops*/

@media only screen and (min-width: 1025px) {
    body {
        display: grid;
    }
    .flexbox-section ul {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        column-gap: 2em;
    }
    .flexbox-section ul li:first-child {
        width: 48%
    }
    .flexbox-section ul li {
        width: 23%
    }
    .grid-section ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 2em;
    }
    .grid-section ul li:first-child {
        grid-column: span 2;
    }
}


}
